:root {
  /*Color scheme*/
  --accent-color: #edb4e3;
  --bg-color: #472641;

  /* Sets the maximum width for the website. */
  --max-width: 1000px;
}

* {
  box-sizing: border-box;
}

.actualcontent {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: monospace;
  font-size: 18px;
  line-height: 1.5;
  background-color: var(--bg-color);
  color: #fff;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#header {
  font-size: 23px;
  font-weight: 700;
  line-height: 50px;
  vertical-align: middle;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid var(--accent-color);
}

#content {
  padding: 10px;
}

#footer {
  border-top: solid 1px var(--accent-color);
  padding: 10px;
  font-size: 14px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.container > * {
  flex: 1;
  margin: 0 0 20px;
}

/* general stuff */

a {
  color: var(--accent-color);
  text-decoration: none;
}
